* {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu", sans-serif !important;

  --primary: #5f0052;
  --secondary: #05309d;
  --black: #000000;
  --white: #ffffff;
  --grey8484: #848484;
  --greyB6B6: #b6b6b6;
  --grey8282: #828282;
  --greyF3F5: #f2f3f5;
  --grey6A69: #726a69;
  --greyA0A6: #a4a0a6;
  --maroon521A: #5f00521a;
  --lightPink: #F5F4FF;
  --error: #FF1F00;
  --success:  #86D008;
  --pink:  #D00F76;
  --greyE7E7:  #E7E7E733;
  
  
 
  

  --marginauto: 0 auto;
  --container-width: 75rem;
  --paddingRight15: 0.9375rem;
  --paddingLeft15: 0.9375rem;
  --border-radius-none: 0;
  --background-image-none: none;
  --transition-none: none;
}
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  overscroll-behavior-y: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  overscroll-behavior-y: none;
  color: var(--black);
  letter-spacing: 0;
  min-height: 100%;

  /* -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  color: var(--black);
  letter-spacing: 0;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.08;
}

h5 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.2;
}

p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.67;
}

h6,
.h6 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.44;
}
.wrapper {
  margin-top: 6.3125rem;
}

.common-section {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.section-heading {
  color: var(--black);
  font-size: 3rem !important;
  font-weight: 700 !important;
  line-height: 3.625rem !important;
  letter-spacing: 0 !important;
  text-align: center;
  white-space: pre;
}
.section-heading span {
  color: var(--primary);
}
.detailBtn {
  padding: 1rem 1.9688rem !important;
  border-radius: 0.625rem !important;
  color: var(--white) !important;
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  line-height: 1.4363rem !important;
  background-color: var(--secondary) !important;
  text-transform: capitalize !important;
}
.text-center {
  text-align: center;
}
.marginTop48 {
  margin-top: 3rem;
}
.paddingTop0 {
  padding-top: 0 !important;
}
.paddingBottom0 {
  padding-bottom: 0 !important;
}

.paddingTop24 {
  padding-top: 24px !important;
}
.paddingBottom34 {
  padding-bottom: 34px !important;
}
.paddingTop64 {
  padding-top: 24px !important;
}

.whitebg{
  background-color: #ffffff !important;
}
.pinkbg{
  background-color: #ECE0EA !important;
}
.slick-dots {
  bottom: -50px !important;
}
.slick-dots li button:before{
  font-size: 1.125rem;
  color: var(--primary);
}
.slick-dots li.slick-active button:before{
  color: var(--primary);
}
.readmore {
  padding: 0.625rem 2.0063rem !important;
  border-radius: 0.3125rem !important;
  color: var(--white) !important;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  line-height: 2rem !important;
  background-color: var(--secondary) !important;
  text-transform: capitalize !important;
}
.seeMore {
  padding: 0 !important;
  border-radius: 0.3125rem !important;
  color: var(--white) !important;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  line-height: 2rem !important;
  text-transform: capitalize !important;
  margin-top: 3.375rem !important;
  display: block !important;
  width: 100%;
  text-align: right;
}
.learMore{
  padding: .875rem 1.5rem !important;
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  line-height: 1.4363rem !important;
  background-color: var(--primary) !important;
  border-radius: .625rem !important;
  text-transform: capitalize !important;
}
@media (max-width: 767px) {
  .section-heading, .section-heading, .heading{
    font-size: 1.5rem !important;
    line-height: 2.125rem !important
  }
  .common-section {
    padding-top: 50px;
    padding-bottom: 3.125rem;
}
.detailBtn {
  font-size: 0.85rem !important;
  line-height: 1.4363rem !important;
  padding: 0.6rem !important;
}
}
@media (max-width: 599px) {
  .section-heading, .section-heading, .heading{
    font-size: 1.5rem !important;
    line-height: 2.125rem !important
  }
  .common-section {
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
}
.css-1q63s34{
  padding-bottom: 62px;
}
.detailBtn {
  font-size: 0.85rem !important;
  line-height: 1.4363rem !important;
  padding: 0.6rem !important;
}
.marginTop48 {
  margin-top: 1.5rem;
}
}
/* -- */

@media (min-width: 430px) {
  .container {
    max-width: 540px;
  }
}
/* -- */
@media (max-width: 431px) {
  .captivateInner{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .captivateInner .right {
    width: 100% !important;
  }
  .captivateInner .left{
    width: 100% !important;
    padding: 0 !important;
  }
  .upload-image{
    flex-wrap: nowrap;
    justify-content: flex-end !important;

  }
  .section-heading{
    font-size: 26px !important;
    line-height: 32px !important;
  }
  .css-mgl938 .coverCarlisting .slick-slider .slick-arrow.slick-next {
    right: -1.625rem !important;
    width: 16.33px;
    height: 16.33px;  
  }
  .css-mgl938 .coverCarlisting .slick-slider .slick-arrow.slick-prev  {
    left: -1.625rem !important; 
    width: 16.33px;
    height: 16.33px;
  }
  .photographyCove{
    flex-direction: column;
  }
  .photographyCove .photography{
    width: 100% !important;
  }
  .carText{
    position: inherit !important;
  }
  .MuiBox-root .css-1xidi6h{
    flex-direction: column-reverse !important;
  }
  .css-1xidi6h .carHolder {
    width: 100% !important;
}
.css-1xidi6h .carText{
  width: 100% !important;
}
.css-1xidi6h .carText::before{
  position: inherit !important;
}
.css-lec6k5 .formholder{
  flex-direction: column;
}
.css-lec6k5 .formholder .left {
  width: 100% !important;
  text-align: left;
  padding: 12px 0 12px 0 !important;
} 
.css-lec6k5 .formholder .right{
  width: 100% !important;
  justify-content: center;
}
.css-lec6k5 .formholder .right .item {
  width: calc(50% - -13.6rem) !important;
}

.css-10vbb9z .captivateInner .left .para, .css-lec6k5 .formholder .left .para {
  font-size: 20px !important;
  line-height: 30px !important;
  font-weight: 300 !important;
}
.css-1q63s34 .subPara, .css-1a6lnq8 .subPara, .css-1xidi6h .carText .section-para{
  font-size: 16px !important;
  line-height: 32px !important;
  font-weight: 300 !important;
}
/* .common-section .css-1a1kltw-MuiTypography-root img{
  font-size: 10px;
} */
.common-section .MuiTypography-root h2{
  font-size: 26px !important;
  line-height: 32px !important;
}
.css-1kqfpig .coverCarlisting .slick-slider .slick-list .slick-track .slick-slide >div .carholder img {
   object-fit: contain !important;
 }
 .css-1kqfpig .coverCarlisting .slick-slider{
  overflow: hidden !important;
 }
.css-mgl938 .coverCarlisting .slick-slider .slick-list .slick-track .slick-slide >div .carholder img{
  object-fit: contain !important;
  height: 100px !important;
}
/* .css-mgl938 .coverCarlisting .slick-slider .slick-list{
  height: 200px !important;
} */
.coverCarlisting .slick-slider .slick-list{
  height: 116px !important;
}
.faqs .MuiAccordion-root .MuiAccordion-heading .MuiButtonBase-root {
  padding: 0 10px !important;
}
.faqs .MuiAccordion-root .MuiAccordion-heading .MuiButtonBase-root .MuiAccordionSummary-content {
  margin: 12px 0 !important;
  font-size: 13px !important;
  font-weight: 400;
  line-height: 26px !important;
}
.MuiAccordionSummary-expandIconWrapper svg{
  width: 5px !important;
  height: 9px !important;
}
.css-1q63s34 .photographyCove .photography .title{
  font-size: 13.44px !important;
  line-height: 20.45px !important;
}
/* about */
.MuiBox-root .css-1f0weao svg{
  width: 305px !important;
  height: 133px !important;
}
.MuiBox-root .css-1f0weao svg:last-child{
  width: 191.76px !important;
  height: 69.78px !important;
}
.css-1br1q0c .carholder .title{
  font-size: 18px !important;
}
.css-1br1q0c .carholder .para {
  font-size: 12px !important;
  font-weight: 300 !important;
  line-height: 13px !important;
}
.common-section .css-1a1kltw-MuiTypography-root, .common-section .css-u1gvlm-MuiTypography-root{
  font-size: 14px !important;
  line-height: 16.31px !important;
}
.common-section .css-bekqhi-MuiTypography-root{
  font-size: 12px !important;
  line-height: 16.31px !important;
  font-weight: 400 !important;
}
.css-1ywfgu9-MuiTypography-root{
  font-size: 25px !important;
  line-height: 28.73px !important;
  font-weight: 700 !important;
}
.css-1br1q0c .slick-arrow {
  width: 35.33px !important;
  height: 35.33px !important;
}
.slick-dots li button:before {
  font-size: 11px !important;
}
}

@media (min-width: 599px) {
  .container {
    max-width: 540px;
  }
  /* .detailBtn {
    padding: 0.7rem !important;
    font-size: 0.85rem !important;
    line-height: 1.0363rem !important;
  }
  .common-section {
    padding-top: 1.5rem !important;
    padding-bottom: 2rem !important;
  }
  .section-heading{
    font-size: 1.625rem !important;
    line-height: 2.625rem !important;
  } */
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
 
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    /* max-width: 1140px; */
    max-width: 85%;
  }
}
.container {
  width: 100%;
  /* max-width: var(--container-width); */
  margin: var(--marginauto);
  padding-left: var(--paddingLeft15);
  padding-right: var(--paddingRight15);
}


.right-product-sidebar{width:100%}
.inner-right-product h1{font-size:16px;line-height:19px;padding-bottom:0px}
.upload-tittle p {padding: 0px 0 0;font-size: 12px;}
.inputbox{width:100%;padding-bottom:20px}
.form-button{position:relative;display:flex}
.form-box.second-box .inputbox{width:48%}
.form-box.second-box .inputbox:last-child{width:100%}
.form-button a:last-child{margin-bottom:16px}
.form-button a{width:100%}
.form-button a:first-child{order:1}
.inner-right-product {padding-bottom: 0px;}
.inner-photos h1 {font-size: 14px;}
.inner-photos p {font-size: 12px;text-align: center;}

.check-box p {font-size: 14px;}
.check-box.active {border-color: #3c013a;}
.check-box {width: 100% !important;margin-bottom: 15px;}

.forward{
  width: 100%;
  max-width: 420px;
}
.comparison-container img{
  height: 650px !important;
}
.login, .register{
  font-size: 18px !important;
  font-weight: 400 !important;
  height: 42px !important;
}
.login{
  background: transparent !important;
  color: #5f0052 !important;
  width: 92px !important;
}
.register{
  width: 123px !important;
}
/* Container for the account section */
.account-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Profile picture styling */
.profile-pic {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

/* Greeting text styling */
.greeting {
  font-size: 18px;
  color: #7c7c7c;
  margin: 0;
}
.Enhanceholder .slick-slider .slick-list .slick-track .slick-slide {
  box-shadow: 0px 0px 5px 1px #5f005266;
}
/* Account text styling */
.account {
  font-size: 16px;
  color: #62005b;
  font-weight: 400;
  margin: 0;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: center;
}

/* Dropdown arrow styling */
.dropdown-arrow {
  font-size: 14px;
}
.examples{
  font-size: 24px;
  text-align: center;
}
button.slick-arrow.slick-prev.slick-disabled {
  background-color: #5f005283 !important;
}
button.slick-arrow.slick-next.slick-disabled {
  background-color: #5f005283 !important;
}
button.slick-arrow.slick-next,  button.slick-arrow.slick-prev{
  margin-top: 60px !important;
}
.photoBox.use-slider {
  display: flex !important;
  justify-content: center;
  gap: 60px;
  padding-top: 42px;
}
.setImage {
  position: absolute;
  bottom: 0px;
  margin-left: -18px;
}
.submit{
  margin-top: 15px !important;
}
.drive{
  padding: 5.5rem 0 !important;
}
.captivateInner .left .uploadSection {
  border: 1px dashed #5f0052 !important;
}
.item.cross {
  position: relative;
}
.item.wright {
  position: relative;
}
@media (max-width: 768px) {
  .common-section.results {
    margin-top: 0;
    padding-top: 0;
}
.viewGuide1{
  margin-top: 15px !important;
}
.photoRes {
   width: 100%;
}
.rightResponsive{
  width: 30px !important;
  left: -10px !important;
  bottom: -8px !important;
}
.pinkbg, .keyTips h3{
  font-size: 18px !important;
}
.recommended{
  font-size: 18px !important;
}
.paddingBottom34.pinkbg h3{
  font-size: 18px !important;

}
.good{
  font-size: 30px !important;
  line-height: 34px !important;
}
.examples{
  font-size: 16px;
}
.common-section.results .carholder .title {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
  .carText.reponsive_Achieve {
    right: 0 !important;
}
.upload-image{
  justify-content: space-around !important;
  overflow: scroll;
}
.noImage{
  margin-top: 5px !important;
}
.upload-image{
  margin-top: 5px !important;
}
.topfooter .innerfooter .footeritem:first-child{
  min-width: 100% !important;
}
.forward{
  max-width: 100%;
  font-size: 26px !important;
  line-height: 28px !important;
}
.optimal{
  padding: 0 !important;
}
.capture{
  font-size: 20px !important;
  font-weight: 300 !important;
  max-width: 352px;
}
.before{
  font-size: 14px !important;
}
.coverCarlisting .CarListingOption{
  margin-bottom: 2px !important;
  margin-top: 8px !important;
}
.carStudio, .carholder .textDetail .innerText .desc, .carText .section-para, .utilizing, .formholder .left .para{
  font-size: 16px !important;
  font-weight: 300 !important;
}
.carholder .textDetail .innerText .desc{
  line-height: 22px !important;
  text-align: center !important;
}
.slick-track .slick-slide .carholder .textDetail .innerText .heading{
  font-size: 19px !important;
  text-align: center !important;
}
 .carText .section-heading{
  text-align: center !important;
}
  .stunning span{
    display: block;
  }
  .upload-image img {
    width: 69px !important;
}
.learMore{
  height: 41px;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.optimal{
  height: 800px !important;
}
.drive .formholder .left .section-heading{
  font-size: 26px !important;
  line-height: 35px !important;
}
.drive .formholder .left .para{
  margin-top: 8px;
}
.faqs .MuiAccordion-root .MuiAccordion-heading .MuiButtonBase-root .MuiAccordionSummary-content{
  font-weight: 400 !important;
}
.questions{
  font-size: 18px !important;
}
.faqs{
  margin-top: 20px !important;
}
.photographyCove .photography .title{
  font-size: 14px !important;
}
.optimal .css-1nagg0h{
  padding: 0 !important;
}
.comparison-container img{
  height: 292px !important;
}
.photoBox{
  gap: 20px !important;
}
.photographyCove .photography.photographyLeft .photoBox .item .crossIcon {
  bottom: -3px !important;
}
.photographyCove .photography.photographyLeft .photoBox .item .wrigthIcon {
  bottom: -3px !important;
}
.viewGuide{
  margin-top: 15px !important;
}
.enhance .container{
  padding: 0 !important;
}
.space{
  padding: 20px !important;
  background: #f5f4ff !important;
}
.Enhanceholder .slick-slider .slick-list .slick-track .slick-slide .carholder .textDetail {
  margin-top: 0 !important;
  padding-top: 0;
}
.common-section.enhance{
  background: transparent !important;
}

}

@media (max-width: 440px) {
.optimal{
  height: 750px !important;
}
.upload-image img {
  width: 78px !important;
}
.setImage {
  width: 25px !important;
  left: 18px;
  bottom: -8px;
}
img.photoRes {
  width: 100%;
}
button.slick-arrow.slick-next,  button.slick-arrow.slick-prev{
  margin-top: 20px !important;
  width: 18px !important;
        height: 18px !important;
}
.slick-arrow.slick-next {
  background-image: url('./assets/images/arrowleft.png') !important;
}
.slick-arrow.slick-prev {
  background-image: url('./assets/images/arrowRight1.png') !important;
}

.common-section.paddingTop24.paddingBottom34.pinkbg {
  margin: 0 !important;
}
}

@media (max-width: 400px) {
  .optimal{
    height: 800px !important;
  }
  
  }