* {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu", sans-serif !important;

  --primary: #5f0052;
  --secondary: #05309d;
  --black: #000000;
  --white: #ffffff;
  --grey8484: #848484;
  --greyB6B6: #b6b6b6;
  --grey8282: #828282;
  --greyF3F5: #f2f3f5;
  --grey6A69: #726a69;
  --greyA0A6: #a4a0a6;
  --maroon521A: #5f00521a;
  --lightPink: #F5F4FF;
  --error: #FF1F00;
  --success:  #86D008;
  --pink:  #D00F76;
  --greyE7E7:  #E7E7E733;
  
  
 
  

  --marginauto: 0 auto;
  --container-width: 75rem;
  --paddingRight15: 0.9375rem;
  --paddingLeft15: 0.9375rem;
  --border-radius-none: 0;
  --background-image-none: none;
  --transition-none: none;
}
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  overscroll-behavior-y: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  overscroll-behavior-y: none;
  color: var(--black);
  letter-spacing: 0;
  min-height: 100%;

  /* -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  color: var(--black);
  letter-spacing: 0;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.08;
}

h5 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.2;
}

p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.67;
}

h6,
.h6 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.44;
}
.wrapper {
  margin-top: 6.3125rem;
}

.common-section {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.section-heading {
  color: var(--black);
  font-size: 3rem !important;
  font-weight: 700 !important;
  line-height: 3.625rem !important;
  letter-spacing: 0 !important;
  text-align: center;
  white-space: pre;
}
.section-heading span {
  color: var(--primary);
}
.detailBtn {
  padding: 1rem 1.9688rem !important;
  border-radius: 0.625rem !important;
  color: var(--white) !important;
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  line-height: 1.4363rem !important;
  background-color: var(--secondary) !important;
  text-transform: capitalize !important;
}
.text-center {
  text-align: center;
}
.marginTop48 {
  margin-top: 3rem;
}
.paddingTop0 {
  padding-top: 0 !important;
}
.paddingBottom0 {
  padding-bottom: 0 !important;
}

.paddingTop24 {
  padding-top: 24px !important;
}
.paddingBottom34 {
  padding-bottom: 34px !important;
}
.paddingTop64 {
  padding-top: 24px !important;
}

.whitebg{
  background-color: #ffffff !important;
}
.pinkbg{
  background-color: #ECE0EA !important;
}
.slick-dots {
  bottom: -50px;
}
.slick-dots li button:before{
  font-size: 1.125rem;
  color: var(--primary);
}
.slick-dots li.slick-active button:before{
  color: var(--primary);
}
.readmore {
  padding: 0.625rem 2.0063rem !important;
  border-radius: 0.3125rem !important;
  color: var(--white) !important;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  line-height: 2rem !important;
  background-color: var(--secondary) !important;
  text-transform: capitalize !important;
}
.seeMore {
  padding: 0 !important;
  border-radius: 0.3125rem !important;
  color: var(--white) !important;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  line-height: 2rem !important;
  text-transform: capitalize !important;
  margin-top: 3.375rem !important;
  display: block !important;
  width: 100%;
  text-align: right;
}
.learMore{
  padding: .875rem 1.5rem !important;
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  line-height: 1.4363rem !important;
  background-color: var(--primary) !important;
  border-radius: .625rem !important;
  text-transform: capitalize !important;
}
@media (max-width: 767px) {
  .section-heading, .section-heading, .heading{
    font-size: 1.5rem !important;
    line-height: 2.125rem !important
  }
  .common-section {
    padding-top: 50px;
    padding-bottom: 3.125rem;
}
.detailBtn {
  font-size: 0.85rem !important;
  line-height: 1.4363rem !important;
  padding: 0.6rem !important;
}
}
@media (max-width: 599px) {
  .section-heading, .section-heading, .heading{
    font-size: 1.5rem !important;
    line-height: 2.125rem !important
  }
  .common-section {
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
}
.css-1q63s34{
  padding-bottom: 62px;
}
.detailBtn {
  font-size: 0.85rem !important;
  line-height: 1.4363rem !important;
  padding: 0.6rem !important;
}
.marginTop48 {
  margin-top: 1.5rem;
}
}
/* -- */

@media (min-width: 430px) {
  .container {
    max-width: 540px;
  }
}
/* -- */
@media (max-width: 431px) {
  .captivateInner{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .captivateInner .right {
    width: 100% !important;
  }
  .captivateInner .left{
    width: 100% !important;
    padding: 0 !important;
  }
  .upload-image{
    flex-wrap: nowrap;
    justify-content: flex-end !important;

  }
  .section-heading{
    font-size: 26px !important;
    line-height: 32px !important;
  }
  .css-mgl938 .coverCarlisting .slick-slider .slick-arrow.slick-next {
    right: -1.625rem !important;
    width: 16.33px;
    height: 16.33px;  
  }
  .css-mgl938 .coverCarlisting .slick-slider .slick-arrow.slick-prev  {
    left: -1.625rem !important; 
    width: 16.33px;
    height: 16.33px;
  }
  .photographyCove{
    flex-direction: column;
  }
  .photographyCove .photography{
    width: 100% !important;
  }
  .carText{
    position: inherit !important;
  }
  .MuiBox-root .css-1xidi6h{
    flex-direction: column-reverse !important;
  }
  .css-1xidi6h .carHolder {
    width: 100% !important;
}
.css-1xidi6h .carText{
  width: 100% !important;
}
.css-1xidi6h .carText::before{
  position: inherit !important;
}
.css-lec6k5 .formholder{
  flex-direction: column;
}
.css-lec6k5 .formholder .left {
  width: 100% !important;
  text-align: left;
  padding: 12px 0 12px 0 !important;
} 
.css-lec6k5 .formholder .right{
  width: 100% !important;
  justify-content: center;
}
.css-lec6k5 .formholder .right .item {
  width: calc(50% - -13.6rem) !important;
}

.css-10vbb9z .captivateInner .left .para, .css-lec6k5 .formholder .left .para {
  font-size: 20px !important;
  line-height: 30px !important;
  font-weight: 300 !important;
}
.css-1q63s34 .subPara, .css-1a6lnq8 .subPara, .css-1xidi6h .carText .section-para{
  font-size: 16px !important;
  line-height: 32px !important;
  font-weight: 300 !important;
}
/* .common-section .css-1a1kltw-MuiTypography-root img{
  font-size: 10px;
} */
.common-section .MuiTypography-root h2{
  font-size: 26px !important;
  line-height: 32px !important;
}
.css-mgl938 .coverCarlisting .slick-slider .slick-list .slick-track .slick-slide >div .carholder img{
  object-fit: contain !important;
  height: 100px !important;
}
/* .css-mgl938 .coverCarlisting .slick-slider .slick-list{
  height: 200px !important;
} */
.coverCarlisting .slick-slider .slick-list{
  height: 100px !important;
}
.faqs .MuiAccordion-root .MuiAccordion-heading .MuiButtonBase-root {
  padding: 0 10px !important;
}
.faqs .MuiAccordion-root .MuiAccordion-heading .MuiButtonBase-root .MuiAccordionSummary-content {
  margin: 12px 0 !important;
  font-size: 13px !important;
  font-weight: 400;
  line-height: 26px !important;
}
.MuiAccordionSummary-expandIconWrapper svg{
  width: 5px !important;
  height: 9px !important;
}
.css-1q63s34 .photographyCove .photography .title{
  font-size: 13.44px !important;
  line-height: 20.45px !important;
}
/* about */
.MuiBox-root .css-1f0weao svg{
  width: 305px !important;
  height: 133px !important;
}
.MuiBox-root .css-1f0weao svg:last-child{
  width: 191.76px !important;
  height: 69.78px !important;
}
.css-1br1q0c .carholder .title{
  font-size: 18px !important;
}
.css-1br1q0c .carholder .para {
  font-size: 12px !important;
  font-weight: 300 !important;
  line-height: 13px !important;
}
.common-section .css-1a1kltw-MuiTypography-root, .common-section .css-u1gvlm-MuiTypography-root{
  font-size: 14px !important;
  line-height: 16.31px !important;
}
.common-section .css-bekqhi-MuiTypography-root{
  font-size: 12px !important;
  line-height: 16.31px !important;
  font-weight: 400 !important;
}
.css-1ywfgu9-MuiTypography-root{
  font-size: 25px !important;
  line-height: 28.73px !important;
  font-weight: 700 !important;
}
.css-1br1q0c .slick-arrow {
  width: 35.33px !important;
  height: 35.33px !important;
}
.slick-dots li button:before {
  font-size: 11px !important;
}
}

@media (min-width: 599px) {
  .container {
    max-width: 540px;
  }
  /* .detailBtn {
    padding: 0.7rem !important;
    font-size: 0.85rem !important;
    line-height: 1.0363rem !important;
  }
  .common-section {
    padding-top: 1.5rem !important;
    padding-bottom: 2rem !important;
  }
  .section-heading{
    font-size: 1.625rem !important;
    line-height: 2.625rem !important;
  } */
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
 
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    /* max-width: 1140px; */
    max-width: 85%;
  }
}
.container {
  width: 100%;
  /* max-width: var(--container-width); */
  margin: var(--marginauto);
  padding-left: var(--paddingLeft15);
  padding-right: var(--paddingRight15);
}
